@page
@inject IConfiguration Configuration
@model MyLog.Client.Razor.Pages.MovementsModel
@{
    var accessToken = Model.AccessToken;
}

<h1>Movements</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cargo Number</th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
            <th>Delivery</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movement in Model.Movements)
        {
            <tr>
                <td>
                    <a href="/MovementDetails/@movement.Id">@movement.CargoNr</a>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td><button class="btn btn-danger" onclick="confirmDelete(@movement.Id)">Delete</button></td>
                }

                <td>@Html.Raw(movement.Delivery.Replace("\r", "<br />"))</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        async function confirmDelete(id) {
            const apiUrl = '@Configuration["Api:Url"]';
            if (confirm("Are you sure you want to delete this item?")) {
                try {
                    const response = await fetch(`${apiUrl}/movements/${id}`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': "Bearer @accessToken",
                            'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                        }
                    });
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert("Failed to delete the item.");
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert("Failed to delete the item.");
                }
            }
        }    </script>
}

<form method="post">
    @Html.AntiForgeryToken()
</form>